* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  font-weight: 700;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 500;
  padding: 4rem;
}

header {
  display: flex;
  width: 100%;
  height: 10vh;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

header .menu {
  display: flex;
  width: 35%;
  justify-content: flex-end;
}

header .menu ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

header .menu ul li {
  list-style-type: none;
}

header .menu a {
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  transition: 0.3s;
}

header .menu a:hover {
  color: #808080;
}

.home {
  margin-bottom: 5rem;
}

.swiper {
  width: 1214px;
  height: 440px;
}

.swiper .swiper-button-prev {
  color: #000;
}

.swiper .swiper-button-next {
  color: #000;
}

.swiper .swiper-slide {
  text-align: center;
}

i{
  cursor: pointer;
  transition: 0.3s;
}

i:hover{
  color: #808080;
}

.default-button {
  width: fit-content;
  border: 4px solid #000;
  border-radius: 36px;
  padding: 1rem 3rem;
  color: #000;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.5s;
}

.default-button:hover {
  color: #808080;
  border: 4px solid #808080;
}

.new-arrivals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgba(222, 215, 215, 0.41);
}

.categories {
  display: flex;
  justify-content: center;
  padding: 2rem 0 2rem 0;
}

.advantages {
  display: flex;
  justify-content: center;
  padding: 6rem 15rem;
}

.advantage-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.advantage-description {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
}

.advantage-icon {
  font-size: 4rem;
}

.three-columns {
  display: flex;
  width: 80%;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
}

.about-us {
  display: flex;
  justify-content: center;
  padding: 5rem 0 5rem 0;
}

.two-columns {
  display: flex;
  width: 80%;
  flex-direction: row;
  justify-content: space-between;
}

.product {
  background-color: #FFFFFF;
}

.about-image{
  height: 580px;
  width: 580px;
}

.product-image {
  height: 340px;
  width: 340px;
  padding: 0.4rem;
}

.product-info {
  padding: 1rem 0 2rem 0;
}

.product-name {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
}

.product-price {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 300;
}

