* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #616952;
  --secondary-color: #bfca94;
  --darken-color: #010101;
  --white: #fff;
  --light-gray: #C4C4C4;
}

a {
  color: var(--darken-color) ;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: var(--secondary-color) ;
}

ul {
  list-style-type: none;
  gap: 1rem;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  font-weight: 700;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: var(--secondary-color);
}

header {
  display: flex;
  width: 100%;
  height: 10vh;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

header .menu {
  display: flex;
  width: 35%;
  justify-content: flex-end;
}

header .menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

header .menu-mobile {
  display: none;
}

@media screen and (max-width: 1024px) {
  header .menu {
    display: none;
  }

  header .menu-mobile {
    display: flex;
    gap: 2rem;
  }

  header {
    display: flex;
    width: 100%;
    height: 7vh;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  header .icon-mobile {
    font-size: 1rem;
  }
}

header i {
  font-size: 1.3rem;
  cursor: pointer;
  transition: 0.3s;
}

header i:hover {
  color: var(--secondary-color);
}

/* Button Style */
.default-button {
  width: fit-content;
  background-color: transparent;
  border: 2px solid var(--secondary-color);
  border-radius: 36px;
  padding: 1rem 3rem;
  color: var(--secondary-color);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.5s;
}

.default-button:hover {
  color: var(--white);
  border: 2px solid var(--white);
}

.square-button {
  border: none;
  font-weight: 700;
  padding: 0.8rem 3rem;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.5s;
  color: var(--secondary-color);
  background-color: var(--darken-color);
}

.square-button:hover {
  color: var(--white);
}

@media(max-width:  1024px){
  .default-button {
    padding: 0.5rem 2rem;
  }
}

/* Swiper Carousel*/
.swiper-wrapper {
  height: 40rem;
}

#slider {
  height: 40rem;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 40rem;
  object-fit: cover;
}

/* New Arrivals */
.new-arrivals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: var(--main-color);
  padding: 7rem 0 7rem 0;
  color: var(--white);
}

.card-container {
  display: flex;
  justify-content: space-around;
  min-height: 300px;
  flex-wrap: wrap;
  margin: 4rem 0 4rem 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  border-radius: 20px;
  max-width: 25rem;
  width: calc(33.33% - 5rem);
  transition: 0.2s;
  cursor: pointer;
  color: var(--darken-color);
  box-shadow: 0 0 0 2px var(--secondary-color), 8px 8px 0 0 var(--secondary-color);;
}

.card:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 0 0 2px var(--darker-color), 8px 8px 0 0 var(--darker-color);;
}

.image-container {
  min-height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrivals-btn {
  align-self: center;
}

@media (max-width: 1250px) {
  .card {
    width: 100%;
  }

  .card-container {
    margin: 2rem;
    grid-gap: 3rem;
  }
}

.card-info {
  padding: 1rem 0 2rem 0;
}

.card-image {
  margin: 20px;
  width: calc(33.33% - 20px);
}

.card-name {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  color: var(--main-color);
}

.card-price {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 300;
  color: var(--main-color);
}

/* About Us */
.about-us {
  display: flex;
  justify-content: center;
  padding: 5rem 0 5rem 0;
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.about-card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(50% - 5rem);
}

.about-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-card {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
  background-color: var(--darken-color);
  opacity:0.5;
  color: var(--white);
}

.overlay-card:hover {
  transform: translateY(-0.5%);
  background-color: var(--darken-color);
  opacity:0.7;
}

.overlay-title {
  font-family: Roboto;
  font-size: 1.8rem;
  font-weight: 700;
}

@media (max-width: 740px) {
  .about-card {
    width: 100%;
  }

  .about-container {
    margin: 0 1rem 0 1rem;
    grid-gap: 3rem;
  }
}

/* Categories */
.categories {
  display: flex;
  justify-content: center;
  padding: 3rem 0 3rem 0;
}

.categories-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.category {
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(33.33% - 5rem);
}

.category-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 740px) {
  .category {
    width: 100%;
  }

  .categories-container {
    grid-gap: 1rem;
  }

  .categories {
    padding: 0 5rem 5rem 5rem;
  }
}

/* Advantages */
.advantages {
  display: flex;
  background-color: var(--secondary-color);
  justify-content: center;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 300;
}

.advantages-container {
  display: flex;
  width: 60%;
  justify-content: space-around;
  padding: 8rem 0 8rem 0;
}

.advantage-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  cursor: pointer;
  transition: 0.2s;
  color: var(--main-color);
}

.advantage-item:hover {
  color: var(--white);
}

.advantage-icon {
  font-size: 2rem;
}

@media (max-width: 740px) {
  .advantages {
    font-size: 0.8rem;
  }

  .advantages-container {
    width: 100%;
  }
}

/* Footer */
.container-footer {
  font-family: Roboto;
  display: flex;
  justify-content: space-around;
  font-weight: 300;
  font-size: 0.9rem;
  flex-wrap: wrap;
  padding: 2rem;
  text-align: center;
}

.footer-column {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: calc(25% - 10rem);
  gap: 1rem;
}

.form-container {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  text-align: left;
  font-weight: 500;
}

.form-field {
  width: 100%;
  border: 0;
  border-bottom: 2px solid var(--light-gray);
  outline: 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: var(--light-gray);
  }
}

.form-field:focus {
  border-width: 3px;
  border-image: linear-gradient(to right, var(--main-color), var(--light-gray));
  border-image-slice: 1;
}

.address {
  text-align: left;
}

.social-media {
  display: flex;
  width: 50%;
  align-self: center;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.2rem;
}

footer i:hover {
  color: var(--secondary-color);
  cursor: pointer;
}

@media (max-width: 940px) {
  .footer-column {
    width: 100%;
    text-align: center;
  }

  .container-footer {
    gap: 4rem;
  }
}

.copyright {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem 0 1rem 0;
  gap: 0.5rem;
  font-size: 0.7rem;
}

.copyright img {
  max-width: 7rem;
}
