* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  font-weight: 700;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 500;
}

i {
  font-size: 1.3rem;
  cursor: pointer;
  transition: 0.3s;
}

i:hover {
  color: #f08769;
}

header {
  display: flex;
  width: 100%;
  height: 10vh;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

header .menu {
  display: flex;
  width: 35%;
  justify-content: flex-end;
}

header .menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

header .menu a {
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  transition: 0.3s;
}

header .menu a:hover {
  color: #f08769;
}

header .menu-mobile {
  display: none;
}

@media screen and (max-width: 960px) {
  header .menu {
    display: none;
  }

  header .menu-mobile {
    display: flex;
    gap: 2rem;
  }

  header {
    display: flex;
    width: 100%;
    height: 7vh;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  header .icon-mobile {
    font-size: 1rem;
  }
}

/* Button Style */
.default-button {
  width: fit-content;
  background-color: transparent;
  border: 4px solid #000;
  border-radius: 36px;
  padding: 1rem 3rem;
  color: #000;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.5s;
}

.default-button:hover {
  color: #f08769;
  border: 4px solid #f08769;
}

/* Swiper Carousel*/
.swiper-wrapper {
  height: 40rem;
}

#slider {
  height: 40rem;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 40rem;
  object-fit: cover;
}

.new-arrivals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgba(222, 215, 215, 0.41);
  padding: 3rem 0 3rem 0;
}

.card-container {
  display: flex;
  justify-content: space-around;
  min-height: 300px;
  flex-wrap: wrap;
  margin: 4rem 0 4rem 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 4px;
  width: calc(33.33% - 5rem);
  transition: 0.2s;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.1);
}

.image-container {
  min-height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrivals-btn {
  align-self: center;
}

@media (max-width: 1250px) {
  .card {
    width: 100%;
  }

  .card-container {
    margin: 0 1rem 0 1rem;
    grid-gap: 3rem;
  }
}

.card-info {
  padding: 1rem 0 2rem 0;
}

.card-image {
  margin: 20px;
  width: calc(33.33% - 20px);
}

.card-name {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
}

.card-price {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 300;
}

.categories {
  display: flex;
  justify-content: center;
  padding: 2rem 0 2rem 0;
}

.advantages {
  display: flex;
  justify-content: center;
  padding: 6rem 15rem;
}

.advantage-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.advantage-description {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
}

.advantage-icon {
  font-size: 4rem;
}

/* About Us */
.about-us {
  display: flex;
  justify-content: center;
  padding: 5rem 0 5rem 0;
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.about-card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(50% - 5rem);
}

.about-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-card {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
}

.overlay-title {
  font-family: Roboto;
  font-size: 1.8rem;
  font-weight: 700;
}

@media (max-width: 740px) {
  .about-card {
    width: 100%;
  }

  .about-container {
    margin: 0 1rem 0 1rem;
    grid-gap: 3rem;
  }
}

/* Footer */
.container-footer {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
